/* styles.css */
h1 {
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Centralizado horizontalmente */
    font-size: 36px; /* Tamanho da fonte */
    margin-top: 20px;
    margin-bottom: 30px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #471f1fbe;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1100px;
}

.memory-card {
    width: 180px;
    height: 180px;
    background-color: rgb(100, 0, 0);
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    transform: rotateY(0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.memory-card.flipped {
    transform: rotateY(180deg);
}

.memory-card .front, .memory-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-card .front {
    background-color: rgb(90, 1, 1);
    font-size: 30px;
    color: white;
}

.memory-card .back {
    background-color: white;
    transform: rotateY(180deg);
}

.memory-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
/* styles.css */
footer {
    background-color: #471f1fbe;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}
